# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# 虚拟环境
.venv/
venv/
env/

# IDE / 编辑器
.vscode/
.idea/
*.swp

# 系统文件
Thumbs.db
Desktop.ini
.DS_Store

# Jupyter
.ipynb_checkpoints/

# 缓存 / 日志
*.log
.cache/

*.png